// colors
$primaryColor: #333;
$secondaryColor: #666;

$primaryLinkColor: gray;

$primaryButtonBgColor: #57ee9f;
$primaryButtonColor: #44795d;

$primaryBgColor: #3c3f6a;
$secondaryBgColor: #454a74;

$primaryBgBoxColor: #f6f6f6;
$secondaryBgBoxColor: white;

// design
$borderRadius: 10px;




