$primaryColor: #333;
$secondaryColor: #666;

$primaryLinkColor: gray;
$secondaryLinkColor: tomato;

$primaryButtonColor: white;
$secondaryButtonColor: white;
$primaryButtonBgColor: gray;
$secondaryButtonBgColor: tomato;

$primaryBgColor: white;
$secondaryBgColor: #f0f0f0;